.hours-view{
  position: relative;
  min-height: 220px;
  width: 100%;
  border: 2px solid #4ca531;
  font-family: 'Open Sans';
  text-shadow: 1px 2px 2px #000000;
  color: white;

  .buttons-row{
    height: 76px;
    display: table;
    width: 100%;

    .left-wrapper{
      width: 50%;
      display: table-cell;
    }
    
    .right-wrapper{
      width: 50%;
      display: table-cell;

      .return{
        width: 40px;
        height: 60px;
        position: relative;
        top: 10px;
        background-color: #FFF;
        cursor: pointer;
        float: right;
        border-left: 1px solid #d3e0e9;
        border-top: 1px solid #d3e0e9;
        border-bottom: 1px solid #d3e0e9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

        .text{
          top: 8px;
          position: relative;
          font-size: 28px;
          width: 28px;
          height: 28px;
          text-align: center;
          margin-right: 0px;
          color: black;
          text-shadow: none;
        }

        .icon-clock:before{
          position: relative;
          top: 0px;
          left: 0px;
          margin-top: 0px;
          padding-top: 0px;
          line-height: 28px;
        }
      }
    }
  }

  .task-hours{
    width: 100%;
    height: 80px;
    background-color: white;
    font-size: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;


    .title{
      font-size: 14px;
      vertical-align: top;
      display: inline-block;
      width: 50%;
      text-align: left;
      padding-left: 20px;
      line-height: 80px;
      position: relative;
    }

    .timeHolder{
      font-size: 14px;
      vertical-align: top;
      display: inline-block;
      width: 40%;
      height: 100%;
      line-height: 80px;
      position: relative;

      .hours, .minutes{
        display: inline-block;
        width: 50%;
        height: 100%;
      }

      .hours{
        text-align: right;
      }

      .minutes{
        padding-left:3px;
        text-align: left;
      }
    }

    .buttonHolder{
      font-size: 14px;
      vertical-align: top;
      display: inline-block;
      width: 8%;
      text-align: center;
      line-height: 80px;
      position: relative;
    }
  }

  .color-1{
    background-color: $task-1;
  }

  .color-2{
    background-color: $task-2;
  }

  .color-3{
    background-color: $task-3;
  }

  .color-4{
    background-color: $task-4;
  }

  .color-5{
    background-color: $task-5;
  }

  .color-6{
    background-color: $task-6;
  }

  .color-7{
    background-color: $task-7;
  }
}

@media screen and (max-width: 480px){

  .hours-view{

    .task-hours{

      .title{
        top:0;
        padding-left: 10px;
        width: 40%;
      }

      .timeHolder{
        top:0;
        font-size: 12px;

        .hours, .minutes{
          display: block;
          width:100%;
          height: 50%;
          text-align: center;
          line-height: 40px;
        }
        
        .hours{
          line-height:60px;
        }

        .minutes{
          line-height: 20px;
          padding-left: 0px;
        }
      }
    }
  }
}